<div class="col-md-6 user-prof">
  <h3><%= @user.username %>'s profile</h3>
  <%= image_tag @user.avatar.url(:medium) %>
  <hr>
  <div class="row col-md-12 user-deets">
    some info: some more
  </div>

  <div class="row col-md-12 user-deets">
    some info: some more
  </div>

  <div class="row col-md-12 user-deets">
    some info: some more
  </div>

  <div class="row col-md-12 user-deets">
    some info: some more
  </div>

  <div class="row col-md-12 user-deets">
    some info: some more
  </div>

</div>

<!--  images go here! -->
