<h1>Photo_Share&#8482;
<br>
  <small>
    &nbsp;&nbsp;Give us your <strike>data</strike> Pictures!
  </small>
</h1>
<p>

  <% @photos.each do |photo| %>
    <div class="col-xs-2 thumb-div" style="background: url('<%= photo.image.url(:medium)%>') no-repeat; background-size: cover;">
       <!-- image_tag photo.image.url(:thumb) %> -->
      <br>
      <div class="col-xs-12 thumb-info">
        &nbsp;<%= link_to photo.user.username, user_path(photo.user) %>
      </div>
    </div>

  <% end %>

</p>
