/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user-prof {
  padding-bottom: 1em;
  background: hsla(200, 46%, 64%, 0.27);
  border-radius: 3px;
  height: 300px;
  display: inline-block;
  float: left;
}

.user-deets {
  padding-top: 1em;
}

.thumb-div {
  padding: 0px;
  margin: 5px;
  height: 100px;
}

.medium-div {
  padding: 0px;
  margin: 5px;
  height: 300px;
}
.thumb-info {
  background: hsla(360, 100%, 100%, 0.88);
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom: 0;
}
.medium-info {
  background: hsla(360, 100%, 100%, 0.88);
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0;
}
